.draw-controls
{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drawing-scale
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 8rem;

  padding: 0.3rem 0.75rem;
  font-size: 14pt;

  background: white;
  border-radius: 4px;

  box-shadow: 1px 1px 5px 0px rgba(142, 142, 142, 0.664);
}

.drawing-scale .material-icons
{
  cursor: pointer;
}

.drawing-scale-percentage
{
  cursor: pointer;
}

.drawing-position
{
  width: 3rem;
  height: 3rem;
  margin-top: 0.75rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-size: 14pt;
  background: white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 0px rgba(142, 142, 142, 0.664);

  fill: rgb(136, 136, 136);
}

.drawing-position.drawing-position-centered
{
  fill: rgb(49, 147, 240);
}

.drawing-position svg
{
  width: 100%;
  height: 100%;
}
