.draw-controls
{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.draw-controls > div:not( :last-child )
{
  margin-right: 0.75rem;
}

.draw-controls > div
{
  background: white;
  box-shadow: 1px 1px 5px 0px rgba(142, 142, 142, 0.664);
}

.drawing-settings
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: slategray;
  border-radius: 50%;
}

.drawing-settings .material-icons
{
  --size: 36px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}

.drawing-scale
{
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-width: 8rem;

  padding: 0.3rem 0.75rem;
  font-size: 14pt;

  border-radius: 4px;
}

.drawing-scale > div
{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.drawing-scale-percentage
{
  cursor: pointer;
}

.drawing-position
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 50%;

  color: rgb(136, 136, 136);
}

.drawing-position.drawing-position-centered
{
  color: rgb(49, 147, 240);
}

.drawing-position .material-icons
{
  --size: 40px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}

.drawing-grid
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: slategray;
  border-radius: 8px;
}

.drawing-grid .material-icons
{
  --size: 44px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}

.drawing-open-diagram
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: slategray;
  border-radius: 8px;
}

.drawing-open-diagram .material-icons
{
  --size: 44px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}

.drawing-save-diagram
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: slategray;
  border-radius: 8px;
}

.drawing-save-diagram .material-icons
{
  --size: 44px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}

.drawing-export-image
{
  position: relative;

  width: 3rem;
  height: 3rem;
  padding: 0.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: slategray;
  border-radius: 8px;
}

.drawing-export-image .material-icons
{
  --size: 44px;
  font-size: var( --size );
  width: var( --size );
  height: var( --size );
}
