.document-tabs
{
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  list-style: none;
  box-shadow: inset 0px -2px 5px 0px #D8D8D8;
}

.document-tab
{
  flex: 1;
  max-width: 12rem;
  height: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0 0.5rem;

  transition: background-color 250ms;
  background: rgb(238, 238, 238);

  border: 1px solid lightgray;
}

.document-tab-filename
{
  flex: 1 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.document-tab-modified
{
  font-style: italic;
}

.document-tab .document-tab-modified:after
{
  content: '*';
}

.document-tab:not( :first-child )
{
  border-left: none;
  box-shadow: inset 1px -1px 4px 0px #D8D8D8;
}

.document-tab.document-tab-active
{
  background: white;
  border-bottom: none;
  box-shadow: 2px -1px 4px 0px #D8D8D8;
}

.document-tab:not( .document-tab-active ):hover
{
  background: rgb(245, 245, 245);
}

.document-tab .document-tab-close
{
  margin-left: auto;
  font-size: 1rem;

  border-radius: 50%;

  transition: background-color 150ms, color 150ms;
}

.document-tab .document-tab-close:hover
{
  background: red;
  color: white;
}

.new-document-tab
{
  flex: unset;
  width: auto;
  color: gray;

  display: flex;
  flex-direction: row;
  align-items: center;
}
