.draw-field
{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.drawing-scale
{
  position: absolute;
  z-index: 1;
  top: 1%;
  right: 1%;
  width: 4rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14pt;

  background: lightblue;
  border-radius: 4px;

  cursor: pointer;

  box-shadow: 1px 1px 5px 0px rgba(142, 142, 142, 0.664);
}
