.tooltip-container
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.tooltip-item
{
  visibility: hidden;

  position: absolute;

  font-size: 10pt;
  padding: 0.3rem 0.4rem;
  white-space: nowrap;

  border-radius: 4px;
  background: black;
  color: white;

  box-shadow: 1px 1px 5px 1px rgba(142, 142, 142, 0.664);
  transition: transform 100ms;
}

.tooltip-item-left
{
  right: 100%;
  top: 50%;

  margin-right: 0.5rem;

  transform: scale( 0 ) translate( 100%, -50% );
}

.tooltip-item-right
{
  left: 100%;
  top: 50%;

  margin-left: 0.5rem;

  transform: scale( 0 ) translate( -100%, -50% );
}

.tooltip-item.tooltip-show
{
  visibility: visible;
}

.tooltip-item.tooltip-item-left.tooltip-show
{
  transform: scale( 1 ) translate( 0%, -50% );
}

.tooltip-item.tooltip-item-right.tooltip-show
{
  transform: scale( 1 ) translate( 0, -50% );
}
